<section class="users-page">
  <h1 class="users-title">Список Пользователей</h1>

  <div class="users-list">
    @for (user of (users$ | async); track user.id) {
    <div class="user-card">
      <h3 class="user-card__name">{{ user.name }}</h3>
      <p class="user-card__username">&#64;{{ user.username }}</p>

      <div class="user-card__section">
        <span class="user-card__section-title">Контакты</span>
        <div class="user-card__row">
          <span>Эл. почта:</span>
          <a class="user-card__link" [href]="'mailto:' + user.email">{{ user.email }}</a>
        </div>
        <div class="user-card__row">
          <span>Телефон:</span>
          <span class="user-card__value">{{ user.phone }}</span>
        </div>
        <div class="user-card__row">
          <span>Веб-сайт:</span>
          <a class="user-card__link" [href]="'https://' + user.website" target="_blank">{{ user.website }}</a>
        </div>
      </div>

      <div class="user-card__section">
        <span class="user-card__section-title">Адрес проживания</span>
        <div class="user-card__row">
          <span>Город:</span>
          <span class="user-card__value">{{ user.address.city }}</span>
        </div>
        <div class="user-card__row">
          <span>Улица:</span>
          <span class="user-card__value">{{ user.address.street }}</span>
        </div>
        <div class="user-card__row">
          <span>Офис:</span>
          <span class="user-card__value">{{ user.address.suite }}</span>
        </div>
        <div class="user-card__row">
          <span>Индекс:</span>
          <span class="user-card__value">{{ user.address.zipcode }}</span>
        </div>
        <div class="user-card__row">
          <span>Координаты:</span>
          <span class="user-card__geo">{{ user.address.geo.lat }}</span>
          <span class="user-card__geo">{{ user.address.geo.lng }}</span>
        </div>
      </div>

      <div class="user-card__section">
        <span class="user-card__section-title">Место работы</span>
        <div class="user-card__row">
          <span>Компания:</span>
          <span class="user-card__value">{{ user.company.name }}</span>
        </div>
        <div class="user-card__row">
          <span>Миссия:</span>
          <span class="user-card__catchphrase">«{{ user.company.catchPhrase }}»</span>
        </div>
        <div class="user-card__row">
          <span>Специализация:</span>
          <span class="user-card__value">{{ user.company.bs }}</span>
        </div>
      </div>
    </div>
    } @empty {
    <div class="no-users">Нет пользователей для отображения</div>
    }
  </div>
</section>