<header class="header">
  <div class="main-header">
    <div class="header-container">
      <div class="company-logo">
        <a href="">
          <fa-icon [icon]="['fas', 'mountain']" class="vector-image"></fa-icon>
          <span class="name-image">РУМТИБЕТ</span>
        </a>
      </div>
      <nav class="navigator">
        <ul>
          @for (link of navLinks; track link.path) {
          <li>
            <a [routerLink]="link.path" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
              {{ link.label }}
            </a>
          </li>
          }
        </ul>
      </nav>
      <div class="right-side-actions">
        <button class="consultation-button">Консультация</button>
        @let isDark = (colorMode$ | async) === ColorMode.DARK;

        <div class="theme-switch">
          <fa-icon [icon]="['fas', 'sun']" [class.active]="!isDark"></fa-icon>

          <p-toggleswitch [ngModel]="isDark" (onChange)="onToggleColorMode()" />

          <fa-icon [icon]="['fas', 'moon']" [class.active]="isDark"></fa-icon>
        </div>
        <p-selectbutton [options]="themeOptions" [ngModel]="theme$ | async" (onChange)="onSetTheme($event.value)"
          optionLabel="label" optionValue="value" [allowEmpty]="false" />
        <div class="tasks-dropdown">
          @if (taskFour) {
          <div class="header-timer">{{ currentDateTime }}</div>
          }
          @else {
          <div class="click">
            <button [disabled]="clickCount === 0" (click)="decrement()">-</button>
            <button>{{ clickCount }}</button>
            <button (click)="increment()">+</button>
          </div>
          }
          <button (click)="toggleTask()" [ngClass]="taskFour ? 'task-four' : 'task-five'">
            поменять
          </button>
        </div>
      </div>
    </div>
  </div>
</header>